.container-4 {
    background-image: url('Imagens/darkness.png');
    font-size: large;
    text-align: center;
    width: 100%;
    display: block;
    background-size: cover;
    max-width: 200%;
    height: auto;
    background-size: cover;
    max-width: 100%;
    height: auto;
    color: black;
}

.container {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    height: auto;
    display: block;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.tittle-dragon2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.p-dragonf2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #b6b4b4;
}

.dark {
    width: 65vh;
    height: auto;
    border: solid 5px #111010;
    position: relative;
    margin-bottom: 30px;
}

.character {
    background-color: #8b8b8b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(29, 7, 7, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 4px;
    border-radius: 50px;
    width: 43%;
    height: 70px;
    bottom: 200px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: relative;
    letter-spacing: 4px;
}

.h12 {
    position: relative;
    bottom: 190px;
}

.attribute0 {
    margin-right: 15px;
    text-align: center;
}

.attribute0 label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.line0 {
    width: 40px;
    height: 30px;
    background-color: #08500a;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 20px;
    border: solid 3px;
    letter-spacing: 4px;
}

.line0.filled {
    background-color: #0000ff; 
}

.dragon-description {
    background-color: #e4dcdc;
    margin-top: 20px;
    padding: 10px;
    height: auto;
    display: block;
}

.text-fire2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
    margin-top: 10px;
    height: auto;
    display: block;
}

.description2 {
    text-align: center;
    margin: 0;
    height: auto;
    display: block;
    font-size: 30px; 
}

.character0:hover {
    background-color: #8778dd;
}

.text-king2 {
    font-size: 23px;
    font-style: italic;
    margin-right: 50px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #e4dcdc, #ffffff);
    position: relative;
    bottom: 50px;
    left: 64%;
    height: auto;
    max-width: 900px; 
    max-height: 700px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.filled3 {
    width: 20px;
    height: 20px;
    background-color: #03030a;
}

.attribute0 {
    margin-bottom: 20px;
    margin-right: 7px;
}

.attribute-bar0 {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.attribute-bar0 div {
    width: 20px;
    height: 20px;
    background-color: #edeeee;
    margin-right: 7px;
}
